@charset "UTF-8";
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

li {
  font-family: serif;
}

p {
  margin-bottom: 0px;
}

* {
  font-family: "Open Sans";
}

@media (min-width: 1260px) {
  .container {
    max-width: 1190px;
  }
}

html {
  scroll-behavior: smooth;
}

.title-text {
  font-weight: 600;
  font-size: 40px;
  line-height: 65px;
  text-align: center;
}
@media (max-width: 991.98px) {
  .title-text {
    font-size: 34px;
    line-height: 50px;
  }
}
@media (max-width: 767.98px) {
  .title-text {
    font-size: 28px;
    line-height: 35px;
  }
}
@media (max-width: 575.98px) {
  .title-text {
    font-size: 18px;
    line-height: 25px;
    max-width: 290px;
    margin: 0 auto;
    text-align: center;
  }
}

.tel-btn {
  font-weight: 600;
  font-size: 17.076px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #000;
  padding: 10px 30px;
  border-radius: 90px;
  border: 1px solid rgb(255, 200, 95);
  transition: color 0.2s ease, transform 0.2s ease;
}
.tel-btn:hover {
  color: #FCB346;
}

.links {
  display: flex;
  margin-top: auto;
}
.links a {
  width: 54px;
  transition: transform 0.3s ease;
}
.links a:hover {
  transform: translateY(-7%);
}
.links a img {
  width: 100%;
}

.small-icons {
  display: flex;
}
.small-icons a {
  transition: transform 0.2s ease;
}
.small-icons a:hover {
  transform: translateY(-7%);
}
@media (max-width: 767.98px) {
  .small-icons a {
    position: relative;
    z-index: 555;
    width: 40px;
  }
  .small-icons a img {
    width: 100%;
  }
}

@media (min-width: 576px) {
  .header .modal-dialog {
    max-width: 400px;
    margin: 1.75rem auto;
  }
}
.header .modal-content {
  border-radius: 30px;
}
.header .modal-content .modal-header {
  font-size: 20px;
  padding-left: 25px;
}
.header .modal-content .modal-body {
  display: flex;
  flex-direction: column;
}
.header .modal-content .modal-body a {
  position: relative;
  padding: 10px;
  font-size: 18px;
  color: #000;
  margin-left: 20px;
  transition-duration: 0.25s;
}
.header .modal-content .modal-body a:hover {
  cursor: pointer;
  color: #FDD067;
  margin-left: 26px;
}
.header .modal-content .modal-body a::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -5px;
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #000;
}
.header .modal-content .btn {
  border-radius: 15px;
}
@media (max-width: 767.98px) {
  .header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6000;
    background: #fff;
  }
}
@media (min-width: 1260px) {
  .header .container {
    max-width: 1190px;
  }
}
.header__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 45px 0 35px;
}
@media (max-width: 767.98px) {
  .header__wrapper {
    position: relative;
    z-index: 555;
    padding: 38px 0 35px;
  }
}
.header__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 340px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .header__logo {
    align-self: center;
    width: auto;
  }
}
@media (max-width: 767.98px) {
  .header__logo {
    position: relative;
    z-index: 555;
  }
}
.header__logo p {
  font-weight: 400;
  font-size: 13.8742px;
  line-height: 19px;
}
@media (max-width: 991.98px) {
  .header__logo p {
    display: none;
  }
}
.header__mess {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.header__mess-text {
  font-size: 13.8742px;
  line-height: 19px;
}
@media (max-width: 767.98px) {
  .header__mess-text {
    display: none;
  }
}
.header__mess-icon {
  margin-top: 6px;
}
.header__select {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 13.8742px;
  line-height: 19px;
}
@media (max-width: 767.98px) {
  .header__select {
    display: none;
  }
}
.header__select .select-enter {
  position: relative;
  margin-left: -10px;
}
.header__select .select-enter:before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
  background: url("../img/sel.svg") center no-repeat;
}
.header__select .btn {
  color: #000;
  padding: 0;
  border: none;
  font-size: 13.8742px;
  line-height: 19px;
}
.header__select .btn-primary {
  background-color: transparent;
}
.header__select .btn-primary:not(:disabled):not(.disabled).active, .header__select .btn-primary:not(:disabled):not(.disabled):active, .header__select .show > .btn-primary.dropdown-toggle {
  color: #000;
  background-color: transparent;
  border-color: transparent;
}
.header__select .btn-primary:not(:disabled):not(.disabled).active:focus, .header__select .btn-primary:not(:disabled):not(.disabled):active:focus, .header__select .show > .btn-primary.dropdown-toggle:focus,
.header__select .btn-primary.focus, .header__select .btn-primary:focus {
  box-shadow: none;
}
.header__city {
  padding: 8px 26px;
  border: 1px solid #000000;
  border-radius: 30px;
  color: #FDD067;
  margin-top: 9px;
  cursor: pointer;
}
.header__contacts {
  display: flex;
  flex-direction: column;
}
@media (max-width: 767.98px) {
  .header__contacts {
    display: none;
  }
}
.header__contacts a {
  font-weight: 600;
  font-size: 17.076px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #FDD067;
}
.header__contacts p {
  font-size: 13.8742px;
  line-height: 19px;
  letter-spacing: 0.05em;
}
.header .nav-wrapper {
  margin: 0 auto;
  display: flex;
}
.header .nav {
  display: flex;
  align-items: center;
  margin: 0 auto;
  background: #FAFAFA;
  border-radius: 6.4035px;
}
@media (max-width: 767.98px) {
  .header .nav {
    display: none;
  }
}
.header .nav a {
  padding: 10.5px 16px;
  font-size: 13.8742px;
  line-height: 19px;
  color: black;
  transition: color 0.1s ease;
}
@media (max-width: 991.98px) {
  .header .nav a {
    padding: 10.5px 8px;
  }
}
.header .nav a:hover {
  color: #FCB346;
}
.header .nav .point {
  margin: 0 16px;
  width: 3.2px;
  height: 3.2px;
  background: #000;
  border-radius: 50%;
}
@media (max-width: 991.98px) {
  .header .nav .point {
    margin: 0 8px;
  }
}
@media (max-width: 767.98px) {
  .header .nav .point {
    display: none;
  }
}
@media (max-width: 767.98px) {
  .header body.lock {
    overflow: hidden;
  }
}
.header .hamburger-menu {
  display: none;
  position: relative;
}
@media (max-width: 767.98px) {
  .header .hamburger-menu {
    display: block;
  }
}
.header #menu__toggle {
  opacity: 0;
  width: 34px;
}
.header #menu__toggle:checked ~ .menu__btn > span {
  transform: rotate(45deg);
}
.header #menu__toggle:checked ~ .menu__btn > span::before {
  top: 0;
  transform: rotate(0);
}
.header #menu__toggle:checked ~ .menu__btn > span::after {
  top: 0;
  transform: rotate(90deg);
}
.header #menu__toggle:checked ~ .menu__box {
  visibility: visible;
  left: 0;
}
.header .menu__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 38%;
  width: 35px;
  height: 25px;
  background: linear-gradient(180deg, #898C92 0%, #101111 100%);
  border-radius: 87.7173px;
  cursor: pointer;
  z-index: 555;
}
.header .menu__btn > span,
.header .menu__btn > span::before,
.header .menu__btn > span::after {
  display: block;
  position: absolute;
  margin: auto;
  width: 13.5px;
  height: 1.5px;
  background-color: white;
  transition-duration: 0.25s;
}
.header .menu__btn > span::before {
  content: "";
  top: -4px;
}
.header .menu__btn > span::after {
  content: "";
  top: 4px;
}
.header .menu__box {
  display: block;
  position: fixed;
  visibility: hidden;
  top: 0;
  left: -100%;
  overflow: auto;
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 100px 0;
  list-style: none;
  background-color: #fff;
  box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
  transition-duration: 0.25s;
  z-index: 455;
}
.header .menu__item {
  display: block;
  padding: 12px 24px;
  color: #333;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  line-height: 19px;
  text-decoration: none;
  transition-duration: 0.25s;
  border-radius: 10px;
}
.header .menu__item:hover {
  margin-left: 10px;
}
.header .menu__item:hover {
  background-color: #CFD8DC;
}

.lease {
  position: relative;
  padding-top: 105px;
  padding-bottom: 0;
}
@media (max-width: 991.98px) {
  .lease {
    padding-top: 60px;
    height: 760px;
  }
}
@media (max-width: 767.98px) {
  .lease {
    padding-top: 120px;
  }
}
@media (max-width: 575.98px) {
  .lease {
    height: auto;
  }
}
.lease__bg {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50%;
  margin-right: 0;
  z-index: 0;
  margin-top: 50px;
}
@media (max-width: 1450px) {
  .lease__bg {
    width: 50%;
    margin-right: 0;
  }
}
@media (max-width: 991.98px) {
  .lease__bg {
    width: 500px;
    position: static;
    margin: auto;
    margin-top: 180px;
  }
}
@media (max-width: 767.98px) {
  .lease__bg {
    margin-top: 150px;
  }
}
@media (max-width: 575.98px) {
  .lease__bg {
    display: none;
  }
}
.lease__bg img {
  max-width: 840px;
  width: 100%;
}
.lease__h1 {
  font-size: 60px;
  line-height: 72px;
  position: relative;
  z-index: 100;
}
@media (max-width: 1199.98px) {
  .lease__h1 {
    font-size: 50px;
    line-height: 60px;
  }
}
@media (max-width: 991.98px) {
  .lease__h1 {
    text-align: center;
  }
}
@media (max-width: 767.98px) {
  .lease__h1 {
    font-size: 46px;
  }
}
@media (max-width: 575.98px) {
  .lease__h1 {
    font-size: 40px;
    line-height: 51px;
  }
}
@media (max-width: 480px) {
  .lease__h1 {
    font-size: 30px;
    line-height: 41px;
  }
}
.lease__h1 span {
  color: #FDD067;
  font-weight: 700;
}
.lease__bg-mobile {
  display: none;
}
@media (max-width: 575.98px) {
  .lease__bg-mobile {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
}
.lease__park {
  position: relative;
  margin-top: 60px;
  padding: 32px 64px;
  display: flex;
  align-items: center;
  background: #FAFAFA;
  border-radius: 35px;
}
@media (max-width: 1199.98px) {
  .lease__park {
    padding: 30px 15px;
    margin-top: 30px;
  }
}
@media (max-width: 991.98px) {
  .lease__park {
    justify-content: center;
  }
}
@media (max-width: 510px) {
  .lease__park {
    flex-direction: column;
    padding: 18px;
    max-width: 254px;
    margin: auto;
    margin-top: 30px;
  }
}
.lease__lights {
  position: absolute;
  right: 17px;
  bottom: -50%;
  z-index: 50;
}
@media (max-width: 1199.98px) {
  .lease__lights {
    right: 3px;
    bottom: -60%;
  }
}
.lease__park-show {
  margin-right: 50px;
  position: relative;
  z-index: 100;
}
@media (max-width: 1199.98px) {
  .lease__park-show {
    margin-right: 30px;
  }
}
@media (max-width: 510px) {
  .lease__park-show {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.lease__park-show a {
  display: block;
  color: white;
  background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
  border-radius: 91.573px;
  padding: 10px 38px;
  font-weight: 600;
  text-align: center;
  font-size: 16.4831px;
  line-height: 22px;
  letter-spacing: 0.05em;
  transition: box-shadow 0.2s ease, transform 0.2s ease;
}
.lease__park-show a:hover {
  box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
}
.lease__park-show a:active {
  transform: translateY(7%);
}
.lease__text {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
}
@media (max-width: 1199.98px) {
  .lease__text {
    font-size: 16px;
    line-height: 22px;
  }
}
@media (max-width: 575.98px) {
  .lease__text {
    font-size: 12px;
    line-height: 16px;
  }
}
.lease__link {
  display: flex;
  justify-content: center;
  margin-top: 10px;
  position: relative;
  z-index: 100;
}
.lease__link .lease__vk, .lease__link .lease__tg, .lease__link .lease__wa {
  transition: transform 0.3s ease;
}
.lease__link .lease__vk:hover, .lease__link .lease__tg:hover, .lease__link .lease__wa:hover {
  transform: translateY(-7%);
}

.help {
  padding-top: 90px;
}
.help__title {
  margin-bottom: 30px;
}
@media (max-width: 767.98px) {
  .help__title {
    margin-bottom: 15px;
  }
}
.help__mobile {
  display: none;
}
@media (max-width: 575.98px) {
  .help__mobile {
    display: block;
  }
}
.help__mobile .help__card-img {
  margin: auto;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.help__mobile .help__card-title {
  margin-top: 12px;
}
.help__mobile .help__card-title p {
  font-size: 16px;
  line-height: 22px;
}
.help__mobile .help__card-text {
  margin-top: 12px;
  max-width: 210px;
}
.help__mobile .help__card-text p {
  font-size: 12px;
  line-height: 16px;
}
.help__mobile .help__card-img-1 {
  background: url("../img/help-1.svg") center -3px/160% no-repeat;
}
.help__mobile .help__card-img-2 {
  background: url("../img/help-2.svg") center 5px/160% no-repeat;
}
.help__mobile .help__card-img-3 {
  background: url("../img/help-3.svg") center -3px/160% no-repeat;
}
.help__mobile .help__card-img-4 {
  background: url("../img/help-4.svg") center -3px/160% no-repeat;
}
.help__mobile .help__card-img-5 {
  background: url("../img/help-5.svg") center 3px/160% no-repeat;
}
.help__mobile .help__card-img-6 {
  background: url("../img/help-6.svg") center 10px/160% no-repeat;
}
.help__mobile .slick-track {
  display: flex;
  align-items: flex-start;
}
.help__mobile .slick-list {
  overflow: hidden;
  margin: 0 35px;
}
.help__mobile .slick-arrow {
  position: absolute;
  top: 50%;
  z-index: 10;
  transform: translateY(-50%);
  font-size: 0;
  width: 28px;
  height: 28px;
}
.help__mobile .slick-arrow.slick-prev {
  left: 15px;
  background: url("../img/prev.svg") 0 0/100% no-repeat;
}
.help__mobile .slick-arrow.slick-next {
  right: 15px;
  background: url("../img/next.svg") 0 0/100% no-repeat;
}
.help__mobile .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.help__mobile .slick-dots li {
  list-style: none;
  margin: 0 3px;
}
.help__mobile .slick-dots button {
  font-size: 0;
  opacity: 0.5;
  border: 1px solid #000000;
  border-radius: 50%;
  width: 6px;
  height: 6px;
  background: #fff;
}
.help__mobile .slick-dots li.slick-active button {
  border: 1px solid rgb(255, 200, 95);
  opacity: 1;
}
@media (max-width: 575.98px) {
  .help__pc {
    display: none;
  }
}
.help__card {
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.help__card-img {
  margin: auto;
  width: 74px;
  height: 74px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.help__card-img-1 {
  background: url("../img/help-1.svg") center -7px no-repeat;
}
.help__card-img-2 {
  background: url("../img/help-2.svg") center 13px no-repeat;
}
.help__card-img-3 {
  background: url("../img/help-3.svg") center -7px no-repeat;
}
.help__card-img-4 {
  background: url("../img/help-4.svg") center -7px no-repeat;
}
.help__card-img-5 {
  background: url("../img/help-5.svg") center -2px no-repeat;
}
.help__card-img-6 {
  background: url("../img/help-6.svg") center 30px no-repeat;
}
.help__card-title {
  margin-top: 17px;
}
.help__card-title p {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
}
@media (max-width: 767.98px) {
  .help__card-title p {
    font-size: 20px;
    line-height: 27px;
  }
}
.help__card-text {
  margin-top: 16px;
}
@media (max-width: 767.98px) {
  .help__card-text {
    font-size: 16px;
    line-height: 22px;
  }
}
.help__card-text p {
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  text-align: center;
  letter-spacing: 0.05em;
}

.start {
  padding-top: 100px;
}
@media (max-width: 575.98px) {
  .start {
    padding-top: 50px;
  }
}
@media (max-width: 575.98px) {
  .start__pc {
    display: none;
  }
}
.start__card {
  padding: 30px 22px;
  background: #FAFAFA;
  border-radius: 35px;
  margin-top: 27px;
}
.start .sale {
  position: relative;
}
.start .sale::before {
  position: absolute;
  content: "SALE";
  display: block;
  left: 50px;
  top: 20px;
  padding: 4.1px 8.5px;
  font-weight: 700;
  font-size: 10.7852px;
  line-height: 13px;
  color: #FAFAFA;
  background: linear-gradient(145.66deg, #2684EF -8.11%, #50A1FF 125.17%);
  border-radius: 18.6667px;
  z-index: 5;
}
.start .courier {
  position: relative;
}
.start .courier::before {
  content: "Для курьеров";
}
.start__card-img {
  border-radius: 35px;
  width: 100%;
  overflow: hidden;
  position: relative;
  padding-top: 100%;
}
.start__card-img img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
}
.start__card-info {
  margin: 32px 0;
}
.start__card-info-1, .start__card-info-2, .start__card-info-3 {
  display: flex;
  justify-content: start;
  margin-bottom: 20px;
}
.start__card-info-1 img, .start__card-info-2 img, .start__card-info-3 img {
  margin-right: 13.5px;
}
.start__card-info-1 p, .start__card-info-2 p, .start__card-info-3 p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
}
.start__card-info-3 {
  margin-bottom: 0;
}
.start__card-price {
  margin-top: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.start__card-price p {
  margin-bottom: 10px;
  font-size: 18px;
  line-height: 25px;
}
.start__card-price a {
  padding: 10px 30px;
  border-radius: 90px;
  font-size: 16.4831px;
  line-height: 22px;
  letter-spacing: 0.05em;
  border: 1px solid #FCB346;
  color: #000;
  transition: color 0.3s ease;
}
.start__card-price a:hover {
  color: #FCB346;
}
.start .start__mobile {
  display: none;
}
@media (max-width: 575.98px) {
  .start .start__mobile {
    display: block;
    margin-top: 50px;
  }
}
.start .start__mobile .sale {
  position: static;
}
.start .start__mobile .start__slider-1,
.start .start__mobile .start__slider-2,
.start .start__mobile .start__slider-3,
.start .start__mobile .start__slider-4,
.start .start__mobile .start__slider-5,
.start .start__mobile .start__slider-6,
.start .start__mobile .start__slider-7,
.start .start__mobile .start__slider-8 {
  min-width: 0;
}
.start .start__mobile .start__slider-1 .slick-track,
.start .start__mobile .start__slider-2 .slick-track,
.start .start__mobile .start__slider-3 .slick-track,
.start .start__mobile .start__slider-4 .slick-track,
.start .start__mobile .start__slider-5 .slick-track,
.start .start__mobile .start__slider-6 .slick-track,
.start .start__mobile .start__slider-7 .slick-track,
.start .start__mobile .start__slider-8 .slick-track {
  display: flex;
  justify-content: center;
}
.start .start__mobile .start__slider-1 .slick-list,
.start .start__mobile .start__slider-2 .slick-list,
.start .start__mobile .start__slider-3 .slick-list,
.start .start__mobile .start__slider-4 .slick-list,
.start .start__mobile .start__slider-5 .slick-list,
.start .start__mobile .start__slider-6 .slick-list,
.start .start__mobile .start__slider-7 .slick-list,
.start .start__mobile .start__slider-8 .slick-list {
  overflow: hidden;
}
.start .start__mobile .start__slider-1 .slick-arrow,
.start .start__mobile .start__slider-2 .slick-arrow,
.start .start__mobile .start__slider-3 .slick-arrow,
.start .start__mobile .start__slider-4 .slick-arrow,
.start .start__mobile .start__slider-5 .slick-arrow,
.start .start__mobile .start__slider-6 .slick-arrow,
.start .start__mobile .start__slider-7 .slick-arrow,
.start .start__mobile .start__slider-8 .slick-arrow {
  position: absolute;
  top: 120px;
  z-index: 10;
  transform: translateY(-50%);
  font-size: 0;
  width: 28px;
  height: 28px;
}
.start .start__mobile .start__slider-1 .slick-arrow.slick-next,
.start .start__mobile .start__slider-2 .slick-arrow.slick-next,
.start .start__mobile .start__slider-3 .slick-arrow.slick-next,
.start .start__mobile .start__slider-4 .slick-arrow.slick-next,
.start .start__mobile .start__slider-5 .slick-arrow.slick-next,
.start .start__mobile .start__slider-6 .slick-arrow.slick-next,
.start .start__mobile .start__slider-7 .slick-arrow.slick-next,
.start .start__mobile .start__slider-8 .slick-arrow.slick-next {
  right: 0;
  background: url(../img/next.svg) 0 0/100% no-repeat;
}
.start .start__mobile .start__slider-1 .slick-arrow.slick-prev,
.start .start__mobile .start__slider-2 .slick-arrow.slick-prev,
.start .start__mobile .start__slider-3 .slick-arrow.slick-prev,
.start .start__mobile .start__slider-4 .slick-arrow.slick-prev,
.start .start__mobile .start__slider-5 .slick-arrow.slick-prev,
.start .start__mobile .start__slider-6 .slick-arrow.slick-prev,
.start .start__mobile .start__slider-7 .slick-arrow.slick-prev,
.start .start__mobile .start__slider-8 .slick-arrow.slick-prev {
  left: 0;
  background: url(../img/prev.svg) 0 0/100% no-repeat;
}
.start .start__mobile .start__slider-1 .slick-arrow {
  top: 92px;
}
.start .start__mobile .wrapper-boxes {
  display: flex;
  flex-direction: column;
}
.start .start__mobile .box-button {
  display: flex;
}
.start .start__mobile .box-button button {
  width: auto;
  margin: auto;
  padding: 12px 32px;
  border-radius: 90px;
  font-size: 16.4539px;
  line-height: 22px;
  text-align: center;
  letter-spacing: 0.05em;
  border: 1px solid #FCB346;
  color: #fff;
  background: #FCB346;
  transition: color 0.3s ease;
  margin-top: 19px;
}
.start .start__mobile .start__card {
  padding: 0 22px;
  background: #fff;
}
.start .start__mobile .start__card::before {
  display: none;
}
.start .start__mobile .start__card-info-1,
.start .start__mobile .start__card-info-2,
.start .start__mobile .start__card-info-3 {
  justify-content: center;
  margin-bottom: 15px;
}
.start .start__mobile .start__card-w {
  max-width: 185px;
  margin: auto;
}
.start .start__mobile .start__card-info {
  margin-bottom: 15px;
  margin-top: 15px;
}
.start .start__mobile .start__card-info p {
  font-size: 13px;
  line-height: 17px;
}
.start .start__mobile .start__card-info .start__card-info-1 img,
.start .start__mobile .start__card-info .start__card-info-2 img,
.start .start__mobile .start__card-info .start__card-info-3 img {
  margin-right: 10.5px;
  width: 15px;
}
.start .start__mobile .start__card-price {
  margin-top: 0;
}
.start .start__mobile .start__card-price p {
  font-size: 13px;
  line-height: 17px;
  margin-bottom: 15px;
}
.start .start__mobile .box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
}
.start .start__mobile .box > div {
  max-width: 250px;
}
.start .start__mobile .box:first-child .start__card {
  margin-top: 0;
}

.get {
  padding-top: 100px;
}
@media (max-width: 575.98px) {
  .get {
    padding-top: 50px;
  }
}
.get__title {
  display: flex;
  justify-content: center;
  padding-bottom: 55px;
}
@media (max-width: 991.98px) {
  .get__title {
    padding-bottom: 30px;
  }
}
@media (max-width: 767.98px) {
  .get__title {
    line-height: 35px;
  }
}
@media (max-width: 575.98px) {
  .get__title {
    padding-bottom: 50px;
    flex-direction: column;
  }
}
.get__title > p {
  margin-right: 10px;
}
.get__disc {
  position: relative;
  padding-left: 20px;
  padding-right: 20px;
}
@media (max-width: 575.98px) {
  .get__disc p {
    line-height: 36px;
  }
}
.get__disc-abs {
  position: absolute;
  top: 3px;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 35px;
  transform: rotate(-2deg);
  border: 2px solid rgb(255, 200, 95);
}
@media (max-width: 575.98px) {
  .get__disc-abs {
    top: 0;
    left: 0;
    right: 0;
    width: 95px;
    margin: auto;
    border-radius: 50%;
    transform: rotate(0deg);
  }
}
.get__card-wrapper {
  padding: 0 22px;
  min-height: 100%;
  margin: 0 auto;
  margin-top: 45px;
}
@media (max-width: 767.98px) {
  .get__card-wrapper {
    padding: 0 12px;
  }
}
@media (max-width: 575.98px) {
  .get__card-wrapper {
    padding: 0 30px;
  }
  .get__card-wrapper:first-child {
    margin-top: 0;
  }
}
.get__card {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px 25px 30px 35px;
  border-radius: 35px;
  border: 1px solid rgb(255, 200, 95);
}
@media (max-width: 767.98px) {
  .get__card {
    padding: 30px 20px 30px 25px;
  }
}
@media (max-width: 575.98px) {
  .get__card {
    padding: 30px;
    max-width: 310px;
    margin: 0 auto;
  }
}
.get__number {
  position: absolute;
  top: -14px;
  left: -14px;
  width: 47px;
  height: 47px;
  border-radius: 50%;
  border: 1px solid rgb(255, 200, 95);
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #fff;
}
.get__number p {
  font-size: 23.4223px;
  line-height: 32px;
}
.get__card-title {
  font-weight: 600;
  font-size: 17.5667px;
  line-height: 24px;
  margin-bottom: 16px;
}
.get__card-text {
  font-size: 16px;
  line-height: 22px;
  margin-bottom: 21px;
}
.get__card-time {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}
.get__card-time-text {
  font-size: 14px;
  line-height: 19px;
}
.get__card-links {
  display: flex;
  align-items: center;
}
.get__card-links a {
  width: 53px;
  transition: transform 0.3s ease;
}
.get__card-links a:hover {
  transform: translateY(-7%);
}
@media (max-width: 767.98px) {
  .get__card-links a {
    width: 45px;
  }
}
.get__card-links a img {
  width: 100%;
}

.need {
  padding-top: 50px;
}
.need__wrapper {
  padding: 35px 0 30px;
  background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
  border-radius: 32px;
}
@media (max-width: 575.98px) {
  .need__wrapper {
    padding: 35px 0 0px;
  }
}
.need__h3 {
  text-align: center;
  font-weight: 600;
  font-size: 36.7754px;
  line-height: 67px;
  color: #FFFFFF;
  margin-bottom: 35px;
}
@media (max-width: 991.98px) {
  .need__h3 {
    font-size: 34px;
  }
}
@media (max-width: 575.98px) {
  .need__h3 {
    font-weight: 600;
    font-size: 16px;
    line-height: 22px;
  }
}
.need__card {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.need__card-img {
  border-radius: 50%;
  width: 92px;
  height: 92px;
}
.need__card-img.img-1 {
  background: url("../img/need-1.png") center no-repeat;
}
.need__card-img.img-2 {
  background: url("../img/need-2.png") center no-repeat;
}
.need__card-img.img-3 {
  background: url("../img/need-3.png") center no-repeat;
}
.need__title {
  margin-top: 27px;
  font-weight: 600;
  font-size: 22.0653px;
  line-height: 30px;
  color: #fff;
  text-align: center;
}
@media (max-width: 991.98px) {
  .need__title {
    font-size: 18px;
    line-height: 25px;
  }
}
@media (max-width: 767.98px) {
  .need__title {
    margin-top: 10px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    max-width: 187px;
  }
}

.how {
  padding-top: 100px;
  padding-bottom: 50px;
}
@media (max-width: 575.98px) {
  .how {
    padding-top: 50px;
    padding-bottom: 0;
  }
}
.how__title {
  margin: auto;
  margin-bottom: 80px;
}
@media (max-width: 575.98px) {
  .how__title {
    margin-bottom: 50px;
  }
}
.how__wrapper {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767.98px) {
  .how__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .how__wrapper {
    align-items: center;
    flex-direction: column-reverse;
  }
}
.how__calc {
  max-width: 350px;
  width: 100%;
}
@media (max-width: 991.98px) {
  .how__calc {
    max-width: 285px;
  }
}
@media (max-width: 767.98px) {
  .how__calc {
    margin-bottom: 60px;
  }
}
@media (max-width: 575.98px) {
  .how__calc {
    max-width: 350px;
    margin-bottom: 45px;
  }
}
.how__calc-block {
  background: #FFFFFF;
  border-radius: 10px;
  float: none;
  font-size: 12px;
  line-height: 20px;
  margin: auto;
  width: 100%;
}
@media (max-width: 575.98px) {
  .how__calc-block {
    margin-top: 30px;
  }
}
.how__summ {
  max-width: 440px;
  width: 100%;
  padding: 30px;
  background-color: #FAFAFA;
  border-radius: 35px;
}
@media (max-width: 991.98px) {
  .how__summ {
    max-width: 350px;
  }
}
@media (max-width: 767.98px) {
  .how__summ {
    align-self: flex-end;
  }
}
@media (max-width: 575.98px) {
  .how__summ {
    align-self: center;
  }
}
.how__summ-title {
  font-size: 18px;
  line-height: 25px;
  text-align: center;
}
.how__summ-value {
  margin-top: 25px;
  font-weight: 600;
  font-size: 60px;
  text-align: center;
  background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}
.how__summ-rub {
  text-align: center;
}
.how__summ-text {
  margin-top: 18px;
  font-size: 14px;
  line-height: 19px;
  text-align: center;
  opacity: 0.7;
}
.how .calc__hours,
.how .calc__days {
  font-size: 18px;
  line-height: 25px;
  color: #000;
}
.how #moneycount_label,
.how #daycount_label {
  position: absolute;
  right: 0;
  top: -46px;
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  color: #000;
}
@media (max-width: 575.98px) {
  .how #moneycount_label,
.how #daycount_label {
    font-size: 15px;
    line-height: 20px;
    top: -38px;
  }
}
.how .calc__days {
  margin-top: 80px;
}
.how #slidermoney {
  position: relative;
  margin-top: 27px;
  width: 100%;
  height: 5px;
  background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
  border-radius: 5px;
  border: none;
}
.how #slidermoney:before,
.how #slidertime:before {
  position: absolute;
  content: "1";
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans";
  opacity: 0.5;
  top: 13px;
  left: 0;
}
@media (max-width: 575.98px) {
  .how #slidermoney:before,
.how #slidertime:before {
    font-size: 10px;
    line-height: 14px;
  }
}
.how #slidermoney:after {
  content: "14";
}
.how #slidertime:after {
  content: "7";
}
.how #slidermoney:after,
.how #slidertime:after {
  position: absolute;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans";
  opacity: 0.5;
  top: 13px;
  right: 0;
}
@media (max-width: 575.98px) {
  .how #slidermoney:after,
.how #slidertime:after {
    font-size: 10px;
    line-height: 14px;
  }
}
.how #slidertime {
  position: relative;
  width: 100%;
  height: 5px;
  background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
  border-radius: 5px;
  border: none;
}
.how .ui-state-default,
.how .ui-widget-content .ui-state-default,
.how .ui-widget-header .ui-state-default {
  border: none;
  width: 0px;
  height: 0px;
  top: 50%;
  left: 10px;
  transform: translate(-50%, -50%);
  z-index: 5;
}
.how .ui-widget-content .ui-state-default::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -2px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
  opacity: 0.5;
  z-index: 50;
  border-radius: 50%;
}
.how .ui-widget-content .ui-state-default::after {
  position: absolute;
  content: "";
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  width: 10px;
  height: 10px;
  background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
  opacity: 1;
  z-index: 50;
  border-radius: 50%;
}

.rent__wrapper {
  background: #FAFAFA;
  border-radius: 35px;
  padding: 30px;
  max-width: 674px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767.98px) {
  .rent__wrapper {
    flex-direction: column;
  }
  .rent__wrapper .rent__text {
    max-width: 260px;
    font-weight: 600;
    font-size: 18.5px;
    line-height: 25px;
    text-align: center;
  }
  .rent__wrapper .tel-btn {
    margin-top: 30px;
  }
  .rent__wrapper .rent__links {
    margin-top: 24px;
  }
}
@media (max-width: 575.98px) {
  .rent__wrapper {
    max-width: 350px;
  }
}
@media (max-width: 360px) {
  .rent__wrapper {
    padding: 21px 26px 18px;
  }
}
.rent__text {
  max-width: 240px;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
}
.rent__links {
  display: flex;
  margin-top: auto;
}
.rent__links a {
  width: 54px;
  transition: transform 0.3s ease;
}
@media (max-width: 575.98px) {
  .rent__links a {
    width: 42px;
  }
}
.rent__links a:hover {
  transform: translateY(-7%);
}
.rent__links a img {
  width: 100%;
}

.free {
  padding-top: 100px;
}
@media (max-width: 767.98px) {
  .free {
    padding-top: 70px;
  }
}
@media (max-width: 575.98px) {
  .free {
    padding-top: 30px;
  }
}
.free__title {
  margin-bottom: 100px;
}
@media (max-width: 991.98px) {
  .free__title {
    margin-bottom: 60px;
  }
}
@media (max-width: 575.98px) {
  .free__title {
    margin-bottom: 30px;
  }
}
.free__title .yell {
  color: #FDD067;
}
.free__title .underline {
  display: inline-block;
  position: relative;
}
.free__title .underline::after {
  position: absolute;
  content: "";
  bottom: 5px;
  left: 5px;
  width: 95%;
  border-bottom: 2px solid #FCB346;
  z-index: -1;
}
.free__list {
  padding-left: 60px;
}
@media (max-width: 991.98px) {
  .free__list {
    margin-top: 40px;
  }
}
@media (max-width: 991.98px) {
  .free__list {
    padding-left: 40px;
  }
}
@media (max-width: 575.98px) {
  .free__list {
    margin-top: 30px;
    padding-left: 0;
  }
}
.free__list-item {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
@media (max-width: 1199.98px) {
  .free__list-item {
    margin-bottom: 30px;
  }
}
@media (max-width: 575.98px) {
  .free__list-item {
    margin-bottom: 25px;
  }
}
.free__list-item:last-child {
  margin-bottom: 0;
}
.free__list-img {
  margin-right: 14px;
}
.free__list-text {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
}
@media (max-width: 575.98px) {
  .free__list-text {
    font-size: 15px;
    line-height: 20px;
  }
}
.free__img-p {
  padding-right: 60px;
}
@media (max-width: 991.98px) {
  .free__img-p {
    padding: 0;
    max-width: 565px;
    margin: auto;
  }
}
@media (max-width: 767.98px) {
  .free__img-p {
    max-width: 425px;
  }
}
@media (max-width: 575.98px) {
  .free__img-p {
    max-width: 425px;
  }
}
.free__img-wrapper {
  overflow: hidden;
  border-radius: 35px;
  position: relative;
  padding-top: 68%;
}
.free__img-wrapper img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: auto;
}

.work {
  padding-top: 80px;
}
.work__mobile {
  display: none;
}
@media (max-width: 575.98px) {
  .work__mobile {
    display: flex;
    flex-direction: column;
  }
}
.work__mobile .work__info-text {
  display: block;
  text-align: center;
  margin: auto;
  max-width: 250px;
  margin-bottom: 20px;
}
@media (max-width: 420px) {
  .work__mobile .work__info-text {
    font-size: 12px;
    line-height: 16px;
    max-width: 165px;
  }
}
@media (max-width: 420px) {
  .work__mobile .links a {
    width: 42px;
  }
}
.work__mobile .work__info-cont {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work__mobile .work__info-cont .tel-btn {
  margin-right: 0;
  margin-bottom: 20px;
}
.work__pad {
  padding: 0 75px;
}
@media (max-width: 1199.98px) {
  .work__pad {
    padding: 0;
  }
}
@media (max-width: 575.98px) {
  .work__pad {
    padding: 0 15px;
  }
}
.work__wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  border-radius: 35px;
  border: 1px solid;
  border-image-source: linear-gradient(105.39deg, rgba(252, 179, 70, 0) 13.06%, #FFC85F 111.82%);
  padding: 45px 20px;
  background: #fff;
}
@media (max-width: 575.98px) {
  .work__wrapper {
    padding: 20px 25px;
  }
}
.work__wrapper::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -2px;
  right: -2px;
  background: linear-gradient(105.39deg, rgba(252, 179, 70, 0) 13.06%, #FFC85F 111.82%);
  border-radius: 35px;
  z-index: -1;
}
@media (max-width: 767.98px) {
  .work__wrapper::before {
    background: linear-gradient(176.75deg, #FCB346 2.84%, rgba(255, 200, 95, 0) 97.46%);
  }
}
.work__img {
  position: relative;
  max-width: 341px;
  width: 100%;
  height: 100%;
}
@media (max-width: 991.98px) {
  .work__img {
    max-width: 270px;
  }
}
@media (max-width: 767.98px) {
  .work__img {
    display: none;
  }
}
.work__img img {
  position: absolute;
  top: 50%;
  right: 0;
  width: 200%;
  transform: translate(4%, -50%);
}
.work__info {
  max-width: 510px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.work h2 {
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  text-align: center;
  margin-bottom: 15px;
}
@media (max-width: 1199.98px) {
  .work h2 {
    font-size: 26px;
    line-height: 38px;
  }
}
@media (max-width: 575.98px) {
  .work h2 {
    font-size: 20px;
    line-height: 28px;
  }
}
@media (max-width: 420px) {
  .work h2 {
    font-size: 16px;
    line-height: 22px;
  }
}
.work__car-img {
  display: none;
}
@media (max-width: 767.98px) {
  .work__car-img {
    display: block;
    margin-top: 15px;
    margin-bottom: 40px;
  }
  .work__car-img img {
    width: 100%;
  }
}
@media (max-width: 575.98px) {
  .work__car-img {
    margin-bottom: 10px;
  }
}
.work__info-text {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  margin-bottom: 30px;
}
@media (max-width: 575.98px) {
  .work__info-text {
    display: none;
  }
}
.work__info-cont {
  display: flex;
}
@media (max-width: 575.98px) {
  .work__info-cont {
    display: none;
  }
}
.work__info-cont .tel-btn {
  margin-right: 30px;
}

.rev {
  padding-top: 100px;
}
@media (max-width: 575.98px) {
  .rev {
    padding-top: 46px;
  }
}
.rev h2 {
  margin-bottom: 80px;
}
@media (max-width: 575.98px) {
  .rev h2 {
    margin-bottom: 10px;
  }
}
.rev .slider__wrapper {
  padding: 0 125px;
}
@media (max-width: 767.98px) {
  .rev .slider__wrapper {
    padding: 20px;
  }
}
.rev .slider {
  position: relative;
}
.rev .slider__item {
  border-radius: 35px;
  border: 1px solid rgb(255, 200, 95);
  padding: 15px 30px;
  margin: 0 15px;
}
@media (max-width: 575.98px) {
  .rev .slider__item {
    padding: 18px;
    border-radius: 18px;
  }
}
.rev .slider__price {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 15px;
}
@media (max-width: 575.98px) {
  .rev .slider__price {
    font-size: 14.5px;
    line-height: 20px;
    margin-bottom: 10px;
  }
}
.rev .slider__name {
  display: flex;
  justify-content: start;
  align-items: center;
  margin-bottom: 15px;
}
@media (max-width: 575.98px) {
  .rev .slider__name {
    margin-bottom: 10px;
  }
}
.rev .slider__name img {
  margin-right: 15px;
}
.rev .slider__address {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
}
@media (max-width: 575.98px) {
  .rev .slider__address {
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.05em;
  }
}
.rev .slider__model {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  margin-bottom: 15px;
}
@media (max-width: 575.98px) {
  .rev .slider__model {
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 0.05em;
  }
}
.rev .slider__text {
  font-size: 14px;
  line-height: 19px;
  letter-spacing: 0.05em;
  opacity: 0.5;
}
@media (max-width: 575.98px) {
  .rev .slider__text {
    font-size: 12px;
    line-height: 15px;
  }
}
.rev .slider .slick-track {
  display: flex;
}
.rev .slider .slick-list {
  overflow: hidden;
}
.rev .slider .slick-arrow {
  position: absolute;
  top: 40%;
  z-index: 10;
  transform: translateY(-50%);
  font-size: 0;
  width: 52px;
  height: 52px;
}
@media (max-width: 767.98px) {
  .rev .slider .slick-arrow {
    width: 45px;
    height: 45px;
  }
}
@media (max-width: 575.98px) {
  .rev .slider .slick-arrow {
    width: 27px;
    height: 27px;
  }
}
.rev .slider .slick-arrow.slick-prev {
  left: -73px;
  background: url("../img/prev.svg") 0 0/100% no-repeat;
}
@media (max-width: 767.98px) {
  .rev .slider .slick-arrow.slick-prev {
    left: -50px;
  }
}
@media (max-width: 575.98px) {
  .rev .slider .slick-arrow.slick-prev {
    left: -25px;
  }
}
.rev .slider .slick-arrow.slick-next {
  right: -73px;
  background: url("../img/next.svg") 0 0/100% no-repeat;
}
@media (max-width: 767.98px) {
  .rev .slider .slick-arrow.slick-next {
    right: -50px;
  }
}
@media (max-width: 575.98px) {
  .rev .slider .slick-arrow.slick-next {
    right: -25px;
  }
}
.rev .slider .slick-dots {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 30px;
}
@media (max-width: 575.98px) {
  .rev .slider .slick-dots {
    margin-top: 20px;
  }
}
.rev .slider .slick-dots li {
  list-style: none;
  margin: 0 5px;
}
@media (max-width: 575.98px) {
  .rev .slider .slick-dots li {
    margin: 0 3px;
  }
}
.rev .slider .slick-dots button {
  font-size: 0;
  opacity: 0.5;
  border: 1px solid #000000;
  border-radius: 50%;
  width: 10px;
  height: 10px;
  background: #fff;
}
@media (max-width: 575.98px) {
  .rev .slider .slick-dots button {
    width: 6px;
    height: 6px;
  }
}
.rev .slider .slick-dots li.slick-active button {
  border: 1px solid rgb(255, 200, 95);
  opacity: 1;
}

.map-title h2 {
  padding-top: 100px;
  padding-bottom: 30px;
}
@media (max-width: 575.98px) {
  .map-title h2 {
    padding-top: 15px;
  }
  .map-title h2 br {
    display: none;
  }
}

.map {
  position: relative;
  height: 572px;
}
@media (max-width: 991.98px) {
  .map {
    overflow: hidden;
    height: 480px;
  }
}
@media (max-width: 767.98px) {
  .map {
    border-radius: 13px;
    margin-left: 15px;
    margin-right: 15px;
  }
}
@media (max-width: 767.98px) {
  .map {
    height: 400px;
  }
}
@media (max-width: 575.98px) {
  .map {
    height: 290px;
  }
}
.map .container {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  align-items: center;
}
.map__address {
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  height: auto;
  display: table;
  right: calc(50% + 123px);
  padding: 35px;
  width: 398px;
  background: #fff;
  border-radius: 35px;
}
@media (max-width: 1199.98px) {
  .map__address {
    right: 50%;
  }
}
@media (max-width: 991.98px) {
  .map__address {
    width: 350px;
    padding: 30px;
  }
}
@media (max-width: 767.98px) {
  .map__address {
    display: none;
  }
}
.map__city, .map__time {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}
@media (max-width: 991.98px) {
  .map__city, .map__time {
    margin-bottom: 32px;
  }
}
.map__city p, .map__time p {
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
}
@media (max-width: 991.98px) {
  .map__city p, .map__time p {
    font-size: 15px;
    line-height: 21px;
  }
}
.map__city img, .map__time img {
  margin-right: 14px;
}
@media (max-width: 575.98px) {
  .map__city img, .map__time img {
    width: 22px;
  }
}
.map__contacts-phone {
  display: flex;
  margin-bottom: 20px;
}
.map__contacts-phone a {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0.05em;
  color: #000;
}
.map__contacts-phone img {
  margin-right: 14px;
}
.map__contacts-links {
  display: flex;
}

.map-mobile {
  display: none;
  margin: 30px 15px 0;
}
@media (max-width: 767.98px) {
  .map-mobile {
    display: block;
  }
}
.map-mobile .map__address-mobile {
  border: 1px solid rgb(255, 200, 95);
  border-radius: 16px;
  padding: 16px;
  margin: auto;
  max-width: 360px;
}
@media (max-width: 575.98px) {
  .map-mobile .map__city,
.map-mobile .map__time {
    margin-bottom: 16px;
  }
}
@media (max-width: 575.98px) {
  .map-mobile .map__city p,
.map-mobile .map__time p,
.map-mobile .map__contacts-phone a {
    font-size: 13.9759px;
    line-height: 19px;
  }
}

.footer {
  background: #FAFAFA;
}
@media (max-width: 767.98px) {
  .footer {
    background: #fff;
  }
}
.footer__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 73px 0;
}
@media (max-width: 1199.98px) {
  .footer__wrapper {
    flex-direction: column;
  }
}
@media (max-width: 575.98px) {
  .footer__wrapper {
    padding: 50px 0;
  }
}
.footer__logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 340px;
  width: 100%;
}
@media (max-width: 575.98px) {
  .footer__logo {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .footer__logo a {
    margin-bottom: 15px;
  }
  .footer__logo p {
    font-weight: 400;
    font-size: 13.8742px;
    line-height: 19px;
  }
}
@media (max-width: 575.98px) and (max-width: 575.98px) {
  .footer__logo p {
    max-width: 195px;
  }
  .footer__logo p br {
    display: none;
  }
}
@media (max-width: 1199.98px) {
  .footer__politic, .footer__studio {
    margin-top: 30px;
  }
}
@media (max-width: 575.98px) {
  .footer__politic, .footer__studio {
    font-size: 12px;
    line-height: 16px;
  }
}
.footer__studio {
  opacity: 0.5;
}