@import "_nullstyle"; //обнуление
@import "_variables"; //переменные

* {
  font-family: 'Open Sans';
}

.container {
    
  @media (min-width: 1260px) {
    max-width: 1190px;
  }
}

html {
  scroll-behavior: smooth;
}

.title-text {
  font-weight: 600;
  font-size: 40px;
  line-height: 65px;
  text-align: center;

  @media (max-width: 991.98px) {
    font-size: 34px;
    line-height: 50px;
  }
  @media (max-width: 767.98px) {
    font-size: 28px;
    line-height: 35px;
  }
  @media (max-width: 575.98px) {
    font-size: 18px;
    line-height: 25px;
    max-width: 290px;
    margin: 0 auto;
    text-align: center;
  }
}

.tel-btn {
  font-weight: 600;
  font-size: 17.076px;
  line-height: 23px;
  letter-spacing: 0.05em;
  color: #000;
  padding: 10px 30px;
  border-radius: 90px;
  border: 1px solid rgba(255, 200, 95, 1);
  transition: color 0.2s ease, transform 0.2s ease;

  &:hover {
    color: #FCB346;
  }
}

.links {
  display: flex;
  margin-top: auto;

  a {
    width: 54px;
    transition: transform 0.3s ease;

    &:hover {
      transform: translateY(-7%);
    }

    img {
      width: 100%;
    }
  }
}

.small-icons {
  display: flex;

  a {
    transition: transform .2s ease;

    &:hover {
      transform: translateY(-7%);
    }

    @media (max-width: 767.98px) {
      position: relative;
      z-index: 555;
    }
  }
}

// ======================

.header {
  .modal-dialog {
    @media (min-width: 576px){
      max-width: 400px;
      margin: 1.75rem auto;
    }
  }
  .modal-content {
    border-radius: 30px;

    .modal-header {
      font-size: 20px;
      padding-left: 25px;
    }

    .modal-body {
      display: flex;
      flex-direction: column;

      a {
        position: relative;
        padding: 10px;
        font-size: 18px;
        color: #000;
        margin-left: 20px;
        transition-duration: .25s;

        &:hover {
          cursor: pointer;
          color: $yell;
          margin-left: 26px;
        }

        &::before {
          position: absolute;
          content: "";
          top: 50%;
          left: -5px;
          display: block;
          width: 3px;
          height: 3px;
          border-radius: 50%;
          background-color: #000;
        }
      }
    }
    
    .btn {
      border-radius: 15px;
    }
  }
  
  @media (max-width: 767.98px) {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 6000;
    background: #fff;
  }
  
  .container {
    
    @media (min-width: 1260px) {
      max-width: 1190px;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 45px 0 35px;

    @media (max-width: 767.98px) {
      position: relative;
      z-index: 555;
      padding: 38px 0 35px;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 340px;
    width: 100%;

    @media (max-width: 991.98px) {
      align-self: center;
      width: auto;
    }
    @media (max-width: 767.98px) {
      position: relative;
      z-index: 555;
    }

    p {
      font-weight: 400;
      font-size: 13.8742px;
      line-height: 19px;

      @media (max-width: 991.98px) {
        display: none;
      }
    }
  }

  &__mess {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__mess-text {
    font-size: 13.8742px;
    line-height: 19px;

    @media (max-width: 767.98px) {
      display: none;
    }
  }

  &__mess-icon {
    margin-top: 6px;
  }

  &__select {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 13.8742px;
    line-height: 19px;

    @media (max-width: 767.98px) {
      display: none;
    }

    .select-enter {
      position: relative;
      margin-left: -10px;
    }
    .select-enter:before {
      content: "";
      position: absolute;
      width: 6px;
      height: 6px;
      top: 50%;
      right: -10px;
      transform: translateY(-50%);
      background: url("../img/sel.svg") center no-repeat;
    }

    .btn {
      color: #000;
      padding: 0;
      border: none;
      font-size: 13.8742px;
      line-height: 19px;
    }
    .btn-primary {
      background-color: transparent;
      
    }
    .btn-primary:not(:disabled):not(.disabled).active, .btn-primary:not(:disabled):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
      color: #000;
      background-color: transparent;
      border-color: transparent;
    }
    .btn-primary:not(:disabled):not(.disabled).active:focus, .btn-primary:not(:disabled):not(.disabled):active:focus, .show>.btn-primary.dropdown-toggle:focus,
    .btn-primary.focus, .btn-primary:focus  {
      box-shadow: none;
    }
  }

  &__city {
    padding: 8px 26px;
    border: 1px solid #000000;
    border-radius: 30px;
    color: $yell;
    margin-top: 9px;
    cursor: pointer;
  }

  &__contacts {
    display: flex;
    flex-direction: column;

    @media (max-width: 767.98px) {
      display: none;
    }
    
    a {
      font-weight: 600;
      font-size: 17.076px;
      line-height: 23px;
      letter-spacing: 0.05em;
      color: $yell;
    }
    p {
      font-size: 13.8742px;
      line-height: 19px;
      letter-spacing: 0.05em;
    }
  }

  .nav-wrapper {
    margin: 0 auto;
    display: flex;
  }
  .nav {
    display: flex;
    align-items: center;
    margin: 0 auto;
    background: #FAFAFA;
    border-radius: 6.4035px;

    @media (max-width: 767.98px) {
      display: none;
    }



    a {
      padding: 10.5px 16px;
      font-size: 13.8742px;
      line-height: 19px;
      color: black;
      transition: color .1s ease;

      @media (max-width: 991.98px) {
        padding: 10.5px 8px;
      }

      &:hover {
        color: #FCB346;
      }
    }
    .point { 
      margin: 0 16px;
      width: 3.2px;
      height: 3.2px;
      background: #000;
      border-radius: 50%;

      @media (max-width: 991.98px) {
        margin: 0 8px;
      }
      @media (max-width: 767.98px) {
        display: none;
      }
    }
  }

  //===== burger-menu
  body.lock {
    @media (max-width: 767.98px) {
      overflow: hidden;
    }
  }

  .hamburger-menu {
    display: none;
    position: relative;

    @media (max-width: 767.98px) {
      display: block;
    }
  }
  #menu__toggle {
    opacity: 0;
    width: 34px;
  }
  
  #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  #menu__toggle:checked ~ .menu__box {
    visibility: visible;
    left: 0;
  }
  
  .menu__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 38%;
    width: 35px;
    height: 25px;
    background: linear-gradient(180deg, #898C92 0%, #101111 100%);
    border-radius: 87.7173px;
    cursor: pointer;
    z-index: 555;
  }
  
  .menu__btn > span,
  .menu__btn > span::before,
  .menu__btn > span::after {
    display: block;
    position: absolute;
    margin: auto;
    width: 13.5px;
    height: 1.5px;
  
    background-color: white;
  
    transition-duration: .25s;
  }
  .menu__btn > span::before {
    content: '';
    top: -4px;
  }
  .menu__btn > span::after {
    content: '';
    top: 4px;
  }
  
  .menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    overflow: auto;
    width: 100%;
    height: 100vh;
  
    margin: 0;
    padding: 100px 0;
  
    list-style: none;
  
    background-color: #fff;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
  
    transition-duration: .25s;
    z-index: 455;
  }
  
  .menu__item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 19px;
    text-decoration: none;
    transition-duration: .25s;
    border-radius: 10px;
    &:hover {
      margin-left: 10px;
    }
  }
  .menu__item:hover {
    background-color: #CFD8DC;
  }
}

.lease {
  position: relative;
  padding-top: 105px;
  padding-bottom: 0;

  @media (max-width: 991.98px) {
    padding-top: 60px;
    height: 760px;
  }

  @media (max-width: 767.98px) {
    padding-top: 120px;
  }
  @media (max-width: 575.98px) {
    height: auto;
  }

  &__bg {
    
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 50%;
    margin-right: 0;
    z-index: 0;
    margin-top: 50px;

    @media (max-width: 1450px) {
      width: 50%;
      margin-right: 0;
    }

    @media (max-width: 991.98px) {
      width: 500px;
      position: static;
      margin: auto;
      margin-top: 180px;
    }

    @media (max-width: 767.98px) {
      margin-top: 150px;
    }

    @media (max-width: 575.98px) {
      display: none;
    }
    

    img {
      max-width: 840px;
      width: 100%;
    }
  }

  &__h1 {
    font-size: 60px;
    line-height: 72px;
    position: relative;
    z-index: 100;

    @media (max-width: 1199.98px) {
      font-size: 50px;
      line-height: 60px;
    }

    @media (max-width: 991.98px) {
      text-align: center;
    }

    @media (max-width: 767.98px) {
      font-size: 46px;
    }

    @media (max-width: 575.98px) {
      font-size: 40px;
      line-height: 51px;
    }

    @media (max-width: 480px) {
      font-size: 30px;
      line-height: 41px;
    }

    span {
      color: #FDD067;
      font-weight: 700;
    }
  }

  &__bg-mobile {
    display: none;

    @media (max-width: 575.98px) {
      display: flex;
      justify-content: center;
      margin-top: 30px;
    }
  }

  &__park {
    position: relative;
    margin-top: 60px;
    padding: 32px 64px;
    display: flex;
    align-items: center;
    background: #FAFAFA;
    border-radius: 35px;

    @media (max-width: 1199.98px) {
      padding: 30px 15px;
      margin-top: 30px;
    }

    @media (max-width: 991.98px) {
      justify-content: center;
    }

    @media (max-width: 510px) {
      flex-direction: column;
      padding: 18px;
      max-width: 254px;
      margin: auto;
      margin-top: 30px;
    }
  }

  &__lights {
    position: absolute;
    right: 17px;
    bottom: -50%;
    z-index: 50;

    @media (max-width: 1199.98px) {
      right: 3px;
      bottom: -60%;
    }
  }

  &__park-show {
    margin-right: 50px;
    position: relative;
    z-index: 100;
    
    @media (max-width: 1199.98px) {
      margin-right: 30px;
    }

    @media (max-width: 510px) {
      margin-right: 0;
      margin-bottom: 20px;
    }

    a {
      display: block;
      color: white;
      background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
      border-radius: 91.573px;
      padding: 10px 38px;
      font-weight: 600;
      text-align: center;
      font-size: 16.4831px;
      line-height: 22px;
      letter-spacing: 0.05em;
      transition: box-shadow .2s ease,transform .2s ease;

      &:hover {
        box-shadow: 0px 0px 8px 2px rgba(34, 60, 80, 0.2);
      }
      &:active {
        transform: translateY(7%);
      }
    }
  }

  &__text {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;

    @media (max-width: 1199.98px) {
      font-size: 16px;
      line-height: 22px;  
    }

    @media (max-width: 575.98px) {
      font-size: 12px;
      line-height: 16px;
    }
  }

  &__link {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    position: relative;
    z-index: 100;

    .lease__vk, .lease__tg, .lease__wa {
      transition: transform .3s ease;

      &:hover {
        transform: translateY(-7%);
      }
    }
  }
}

.help {
  padding-top: 90px;

  &__title {
    margin-bottom: 30px;

    @media (max-width: 767.98px) {
      margin-bottom: 15px;
    }
  }

  &__mobile {
    display: none;

    @media (max-width: 575.98px) {
      display: block;
    }

    .help__card-img {
      margin: auto;
      width: 50px;
      height: 50px;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }
    .help__card-title {
      margin-top: 12px;
      
      p {
        font-size: 16px;
        line-height: 22px;
      }
    }
    .help__card-text {
      margin-top: 12px;
      max-width: 210px;
      
      p {
        font-size: 12px;
        line-height: 16px;
      }
  }

    .help__card-img-1 {
      background: url("../img/help-1.svg")center -3px / 160%  no-repeat;
    }
    .help__card-img-2 {
      background: url("../img/help-2.svg")center 5px / 160% no-repeat;
    }
    .help__card-img-3 {
      background: url("../img/help-3.svg")center -3px / 160% no-repeat;
    }
    .help__card-img-4 {
      background: url("../img/help-4.svg")center -3px / 160% no-repeat;
    }
    .help__card-img-5 {
      background: url("../img/help-5.svg")center 3px / 160% no-repeat;
    }
    .help__card-img-6 {
      background: url("../img/help-6.svg")center 10px / 160% no-repeat;
    }

    .slick-track {
      display: flex;
      align-items: flex-start;
    }
    .slick-list {
      overflow: hidden;
      margin: 0 35px;
    }
    .slick-arrow {
      position: absolute;
      top: 50%;
      z-index: 10;
      transform: translateY(-50%);
      font-size: 0;
      width: 28px;
      height: 28px;
    }
    .slick-arrow.slick-prev {
      left: 15px;
      background: url('../img/prev.svg') 0 0 / 100% no-repeat;
    }
    .slick-arrow.slick-next {
      right: 15px;
      background: url('../img/next.svg') 0 0 / 100% no-repeat;
    }
    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 20px;
    }
    .slick-dots li {
      list-style: none;
      margin: 0 3px;
    }
    .slick-dots button {
      font-size: 0;
      opacity: 0.5;
      border: 1px solid #000000;
      border-radius: 50%;
      width: 6px;
      height: 6px;
      background: #fff;
    }
    .slick-dots li.slick-active button {
      border: 1px solid rgba(255, 200, 95, 1);
      opacity: 1;
    }
  }

  &__pc {
    @media (max-width: 575.98px) {
      display: none;
    }
  }
  
  &__card {
    margin-top: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card-img {
    margin: auto;
    width: 74px;
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &__card-img-1 {
    background: url("../img/help-1.svg")center -7px no-repeat;
  }
  &__card-img-2 {
    background: url("../img/help-2.svg")center 13px no-repeat;
  }
  &__card-img-3 {
    background: url("../img/help-3.svg")center -7px no-repeat;
  }
  &__card-img-4 {
    background: url("../img/help-4.svg")center -7px no-repeat;
  }
  &__card-img-5 {
    background: url("../img/help-5.svg")center -2px no-repeat;
  }
  &__card-img-6 {
    background: url("../img/help-6.svg")center 30px no-repeat;
  }

  &__card-title {
    margin-top: 17px;

    p {
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      text-align: center;

      @media (max-width: 767.98px) {
        font-size: 20px;
        line-height: 27px;
      }
    }
  }

  &__card-text {
    margin-top: 16px;

    @media (max-width: 767.98px) {
      font-size: 16px;
      line-height: 22px;
    }

    p {
      font-weight: 400;
      font-size: 18px;
      line-height: 25px;
      text-align: center;
      letter-spacing: 0.05em;
    }
  }
}


.start {
  padding-top: 100px;

  @media (max-width: 575.98px) {
    padding-top: 50px;
  }

  &__pc {
    @media (max-width: 575.98px) {
      display: none;
    }
  }

  &__card {
    padding: 30px 22px;
    background: #FAFAFA;
    border-radius: 35px;
    margin-top: 27px;
  }

  .sale {
    position: relative;

    &::before {
      position: absolute;
      content: "SALE";
      display: block;
      left: 50px;
      top: 20px;
      padding: 4.1px 8.5px;
      font-weight: 700;
      font-size: 10.7852px;
      line-height: 13px;
      color: #FAFAFA;
      background: linear-gradient(145.66deg, #2684EF -8.11%, #50A1FF 125.17%);
      border-radius: 18.6667px;
      z-index: 5;
    }
  }

  .courier {
    position: relative;

    &::before {
      content: "Для курьеров";
    }
  }

  &__card-img {
    border-radius: 35px;
    width: 100%;
    overflow: hidden;
    position: relative;
    padding-top: 100%;

    img {
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: auto;
    }
  }

  &__card-info {
    margin: 32px 0;
  }
  
  &__card-info-1,
  &__card-info-2,
  &__card-info-3 {
    display: flex;
    justify-content: start;
    margin-bottom: 20px;

    img {
      margin-right: 13.5px;
    }

    p {
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.05em;
    }
  }


  &__card-info-3 {
    margin-bottom: 0;
  }

  &__card-price {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-bottom: 10px;
      font-size: 18px;
      line-height: 25px;
    }

    a {
      padding: 10px 30px;
      border-radius: 90px;
      font-size: 16.4831px;
      line-height: 22px;
      letter-spacing: 0.05em;
      border: 1px solid #FCB346;
      color: #000;
      transition: color .3s ease;

      &:hover {
        color: #FCB346;
      }
    }
  }
  // ========== MOBILE
  .start__mobile {

    display: none;

    @media (max-width: 575.98px) {
      display: block;
      margin-top: 50px;
    }

    .sale {
      position: static;
    }


    .start__slider-1,
    .start__slider-2,
    .start__slider-3,
    .start__slider-4,
    .start__slider-5,
    .start__slider-6,
    .start__slider-7,
    .start__slider-8 {
      min-width: 0;

      .slick-track {
        display: flex;
        justify-content: center;
      }
      .slick-list {
        overflow: hidden;
      }

      .slick-arrow {
        position: absolute;
        top: 120px;
        z-index: 10;
        transform: translateY(-50%);
        font-size: 0;
        width: 28px;
        height: 28px;
      }
      .slick-arrow.slick-next {
        right: 0;
        background: url(../img/next.svg) 0 0/100% no-repeat;
      }
      .slick-arrow.slick-prev {
        left: 0;
        background: url(../img/prev.svg) 0 0/100% no-repeat;
      }
    }

    .start__slider-1 {
      
      .slick-arrow {
        top: 92px;
      }
    }

    .wrapper-boxes {
      display: flex;
      flex-direction: column;
    }
    .box-button {
      display: flex;
      button {
        width: auto;
        margin: auto;
        padding: 12px 32px;
        border-radius: 90px;
        font-size: 16.4539px;
        line-height: 22px;
        text-align: center;
        letter-spacing: 0.05em;
        border: 1px solid #FCB346;
        color: #fff;
        background: #FCB346;
        transition: color 0.3s ease;
        margin-top: 19px;
      }
    }

    .start__card {
      padding: 0 22px;
      background: #fff;
    }
    .start__card::before {
      display: none;
    }

    .start__card-info-1, 
    .start__card-info-2, 
    .start__card-info-3 {
      justify-content: center;
      margin-bottom: 15px;
    }
    .start__card-w {
      max-width: 185px;
      margin: auto;
    }
    .start__card-info {
      margin-bottom: 15px;
      margin-top: 15px;

      p {
        font-size: 13px;
        line-height: 17px;
      }

      .start__card-info-1 img, 
      .start__card-info-2 img, 
      .start__card-info-3 img {
        margin-right: 10.5px;
        width: 15px;
    }
    }
    .start__card-price {
      margin-top: 0;

      p {
        font-size: 13px;
        line-height: 17px;
        margin-bottom: 15px;
      }
    }
    
    .box {
      position: relative;
      width: 100%;
      display: flex;
      justify-content: center;
      
      & > div {
        max-width: 250px;
      }

      &:first-child {

        .start__card {
          margin-top: 0;
        }
      }
    }
  }
}

.get {
  padding-top: 100px;

  &__title {
    display: flex;
    justify-content: center;
    padding-bottom: 55px;

    @media (max-width: 991.98px) {
      padding-bottom: 30px;
    }

    @media (max-width: 767.98px) {
      line-height: 45px;
    }

    @media (max-width: 575.98px) {
      padding-bottom: 50px;
    }

    & > p {
      margin-right: 10px;
    }
  }

  &__disc {
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__disc-abs {
    position: absolute;
    top: 3px;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 35px;
    transform: rotate(-2deg);
    border: 2px solid rgba(255, 200, 95, 1);
  }

  &__card-wrapper {
    padding: 0 22px;
    min-height: 100%;
    margin: 0 auto;
    margin-top: 45px;

    

    @media (max-width: 767.98px) {
      padding: 0 12px;
    }

    @media (max-width: 575.98px) {
      padding: 0 30px;

      &:first-child {
        margin-top: 0;
      }
    }
  }

  &__card {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 25px 30px 35px;
    border-radius: 35px;
    border: 1px solid rgba(255, 200, 95, 1);

    @media (max-width: 767.98px) {
      padding: 30px 20px 30px 25px;
    }

    @media (max-width: 575.98px) {
      padding: 30px;
      max-width: 310px;
      margin: 0 auto;
    }
  }

  &__number {
    position: absolute;
    top: -14px;
    left: -14px;
    width: 47px;
    height: 47px;
    border-radius: 50%;
    border: 1px solid rgba(255, 200, 95, 1);;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    
    p {
      font-size: 23.4223px;
      line-height: 32px;
    }
  }

  &__card-title {
    font-weight: 600;
    font-size: 17.5667px;
    line-height: 24px;
    margin-bottom: 16px;
  }
  

  &__card-text {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 21px;
  }

  &__card-time {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
  }

  &__card-time-text {
    font-size: 14px;
    line-height: 19px;
  }

  &__card-links {
    display: flex;
    align-items: center;

    a {
      width: 53px;
      transition: transform .3s ease;

      &:hover {
        transform: translateY(-7%);
      }

      @media (max-width: 767.98px) {
        width: 45px;
      }

      img {
        width: 100%;
      }
    }
  }
}


.need {
  padding-top: 50px;

  &__wrapper {
    padding: 35px 0 30px;
    background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
    border-radius: 32px;
  }

  &__h3 {
    text-align: center;
    font-weight: 600;
    font-size: 36.7754px;
    line-height: 67px;
    color: #FFFFFF;
    margin-bottom: 35px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__card-img {
    border-radius: 50%;
    // background-color: transparent;
    width: 92px;
    height: 92px;

    &.img-1 {
      background: url("../img/need-1.png") center no-repeat;
    }
    &.img-2 {
      background: url("../img/need-2.png") center no-repeat;
    }
    &.img-3 {
      background: url("../img/need-3.png") center no-repeat;
    }
  }

  &__title {
    margin-top: 27px;
    font-weight: 600;
    font-size: 22.0653px;
    line-height: 30px;
    color: #fff;
    text-align: center;
  }
}

.how {
  padding-top: 100px;
  padding-bottom: 50px;

  &__title {
    margin: auto;
    margin-bottom: 80px;

    h2 {
      font-weight: 600;
      font-size: 40px;
      line-height: 54px;
      text-align: center;
    }
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;

    @media (max-width: 767.98px) {
      flex-direction: column;
    }
    @media (max-width: 575.98px) {
      align-items: center;
    }
  }

  &__calc {
    max-width: 350px;
    width: 100%;

    @media (max-width: 991.98px) {
      max-width: 285px;
    }

    @media (max-width: 767.98px) {
      margin-bottom: 60px;
    }
  }

  &__calc-block {
    background:#FFFFFF;
    border-radius: 10px;
    float:none;
    font-size:12px;
    line-height:20px;
    margin: auto;
    width: 100%;
  }

  &__summ {
    max-width: 440px;
    width: 100%;
    padding: 30px;
    background-color: #FAFAFA;
    border-radius: 35px;

    @media (max-width: 991.98px) {
      max-width: 350px;
    }

    @media (max-width: 767.98px) {
      align-self: flex-end;
    }
    @media (max-width: 575.98px) {
      align-self: center;
    }
  }

  &__summ-title {
    font-size: 18px;
    line-height: 25px;
    text-align: center;
  }

  &__summ-value {
    margin-top: 25px;
    font-weight: 600;
    font-size: 60px;
    text-align: center;
    background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
  }

  &__summ-rub {
    text-align: center;
  }

  &__summ-text {
    margin-top: 18px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    opacity: 0.7;
  }  

  .calc__hours,
  .calc__days {
    font-size: 18px;
    line-height: 25px;
    color: #000;
  }

  #moneycount_label,
  #daycount_label {
    position: absolute;
    right: 0;
    top: -46px;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    color:#000; 
  }
  
  .calc__days {
    margin-top: 80px;
  }

  #slidermoney {
    position: relative;
    margin-top: 27px;
    width: 100%;
    height: 5px;
    // background: #D9D9D9;
    background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
    border-radius: 5px;
    border: none;
  }

  #slidermoney:before,
  #slidertime:before {
    position: absolute;
    content: "1";
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans';
    opacity: 0.5;
    top: 18px;
    left: 0;
  } 
  #slidermoney:after {
    content: "14";
  }
  #slidertime:after {
    content: "7";
  }
  #slidermoney:after,
  #slidertime:after {
    position: absolute;
    font-size: 14px;
    line-height: 19px;
    font-family: 'Open Sans';
    opacity: 0.5;
    top: 18px;
    right: 0;
  } 

  #slidertime {
    position: relative;
    width: 100%;
    height: 5px;
    // background: #D9D9D9;
    background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
    border-radius: 5px;
    border: none;
  }

  .ui-state-default, 
  .ui-widget-content .ui-state-default, 
  .ui-widget-header .ui-state-default {
    border: none;
    // background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
    // border-radius: 50%;
    width: 0px;
    height: 0px;
    top: 50%;
    left: 10px;
    transform: translate(-50%, -50%);
    z-index: 5;
  }
  .ui-widget-content .ui-state-default::before {
    position: absolute;
    content: "";
    top: 50%;
    left: -2px;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
    opacity: 0.5;
    z-index: 50;
    border-radius: 50%;
  }
  .ui-widget-content .ui-state-default::after {
    position: absolute;
    content: "";
    top: 50%;
    left: 3px;
    transform: translateY(-50%);
    width: 10px;
    height: 10px;
    background: linear-gradient(105.39deg, #FCB346 13.06%, #FFC85F 111.82%);
    opacity: 1;
    z-index: 50;
    border-radius: 50%;
  }
}

.rent {

  &__wrapper {
    background: #FAFAFA;
    border-radius: 35px;
    padding: 30px;
    max-width: 674px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__text {
    max-width: 240px;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
  }

  &__links {
    display: flex;
    margin-top: auto;

    a {
      width: 54px;
      transition: transform 0.3s ease;

      &:hover {
        transform: translateY(-7%);
      }

      img {
        width: 100%;
      }
    }
  }
}

.free {
  padding-top: 100px;

  &__title {
    font-size: 40px;
    line-height: 54px;
    margin-bottom: 100px;

    .yell {
      color: $yell;
    }
    .underline {
      display: inline-block;
      position: relative;

      &::after {
        position: absolute;
        content: "";
        bottom: 5px;
        left: 5px;
        width: 95%;
        border-bottom: 2px solid #FCB346;
        z-index: -1;
      }
    }
  }

  &__list {
    padding-left: 60px;
  }

  &__list-item {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__list-img {
    margin-right: 14px;
  }

  &__list-text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
  }

  &__img-p {
    padding-right: 60px;
  }

  &__img-wrapper {
    overflow: hidden;
    border-radius: 35px;
    position: relative;
    padding-top: 68%;

    img {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 100%;
      height: auto;
    }
  }
}

.work {
  padding-top: 80px;

  &__pad {
    padding: 0 75px;
  }

  &__wrapper {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    border-radius: 35px;
    border: 1px solid;
    border-image-source: linear-gradient(105.39deg, rgba(252, 179, 70, 0) 13.06%, #FFC85F 111.82%);
    padding: 45px 20px;
    background: #fff;

    &::before {
      content: "";
      position: absolute;
      top: -2px;
      bottom: -2px;
      left: -2px;
      right: -2px;
      background: linear-gradient(105.39deg, rgba(252, 179, 70, 0) 13.06%, #FFC85F 111.82%);
      border-radius: 35px;
      z-index: -1;
    }
  }

  &__img {
    position: relative;
    max-width: 341px;
    width: 100%;
    height: 100%;

    img {
      position: absolute;
      top: 50%;
      right: 0;
      width: 200%;
      transform: translate(4%, -50%);
    }
  }

  &__info {
    max-width: 510px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  h2 {
    font-weight: 600;
    font-size: 32px;
    line-height: 44px;
    text-align: center;
    margin-bottom: 15px;
  }

  &__info-text {
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 0.05em;
    margin-bottom: 30px;
  }

  &__info-cont {
    display: flex;
    
    .tel-btn {
      margin-right: 30px;
    }
  }
}

.rev {
  padding-top: 100px;

  h2 {
    margin-bottom: 80px;
  }

  .slider__wrapper {
    padding: 0 125px;
  }

  .slider {
    position: relative;
    
    &__item {
      border-radius: 35px;
      border: 1px solid rgba(255, 200, 95, 1);
      padding: 15px 30px;
      margin: 0 15px;
    }

    &__price {
      font-weight: 600;
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 15px;
    }

    &__name {
      display: flex;
      justify-content: start;
      align-items: center;
      margin-bottom: 15px;

      img {
        margin-right: 15px;
      }
    }

    &__address {
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.05em;
    }

    &__model {
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.05em;
      margin-bottom: 15px;
    }

    &__text {
      font-size: 14px;
      line-height: 19px;
      letter-spacing: 0.05em;
      opacity: 0.5;
    }

    // slick styles 
    .slick-track {
      display: flex;
    }
    .slick-list {
      overflow: hidden;
    }
    .slick-arrow {
      position: absolute;
      top: 40%;
      z-index: 10;
      transform: translateY(-50%);
      font-size: 0;
      width: 52px;
      height: 52px;
    }
    .slick-arrow.slick-prev {
      left: -73px;
      background: url('../img/prev.svg') 0 0 / 100% no-repeat;
    }
    .slick-arrow.slick-next {
      right: -73px;
      background: url('../img/next.svg') 0 0 / 100% no-repeat;
    }
    .slick-dots {
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 30px;
    }
    .slick-dots li {
      list-style: none;
      margin: 0 5px;
    }
    .slick-dots button {
      font-size: 0;
      opacity: 0.5;
      border: 1px solid #000000;
      border-radius: 50%;
      width: 10px;
      height: 10px;
      background: #fff;
    }
    .slick-dots li.slick-active button {
      border: 1px solid rgba(255, 200, 95, 1);
      opacity: 1;
    }
  }
}

.map-title {

  h2 {
    padding-top: 100px; 
    padding-bottom: 30px;
  }
}
.map {
  position: relative;
  width: 100%;
  height: 572px;

  .container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
  }

  &__address {
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    height: auto;
    display: table;
    right: calc(50% + 123px);
    padding: 35px;
    width: 398px;
    background: #fff;
    border-radius: 35px;
  }
  &__city, &__time {
    display: flex;
    align-items: center;
    margin-bottom: 50px;

    p {
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.05em;
    }

    img {
      margin-right: 14px;
    }
  }

  &__contacts-phone {
    display: flex;
    margin-bottom: 20px;

    a {
      font-weight: 600;
      font-size: 18px;
      line-height: 25px;
      letter-spacing: 0.05em;
      color: #000;
    }

    img {
      margin-right: 14px;
    }
  }

  &__contacts-links {
    display: flex;
  }
}

.footer {
  background: #FAFAFA;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 73px 0;

    @media (max-width: 1199.98px) {
      flex-direction: column;
    }
    @media (max-width: 575.98px) {
      padding: 50px 0;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 340px;
    width: 100%;

    @media (max-width: 575.98px) {
      flex-direction: column;
      align-items: center;
      text-align: center;

      a {
        margin-bottom: 15px;
      }

      p {
        font-weight: 400;
        font-size: 13.8742px;
        line-height: 19px;

        @media (max-width: 575.98px) {
          max-width: 195px;

          br {
            display: none;
          }
        }
      }
    }

    
  }
  &__politic,
    &__studio {
      margin-top: 30px;
      
      @media (max-width: 575.98px) {
        font-size: 12px;
        line-height: 16px;
      }
    }

    &__studio {
      opacity: 0.5;
    }
}

